# Ignore everything by default
*

# Track the repo essentials
!.gitignore
!phylodnasim/
!workflow/
!LICENSE.txt
!README.md
!pyproject.toml

# Track all normal files inside tracked directories
!phylodnasim/**/*
!workflow/**/*

# Ignore hidden files inside tracked directories
config/**/.* 
workflow/**/.*

# Ignore Python cache and virtual environments
__pycache__/
*.pyc
.venv/
.env

# Ignore system files
.DS_Store
Thumbs.db